.todo-container {
  color: hsl(234, 39%, 85%);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: .8rem;

  .todo-container--check-container {
    display: flex;
    gap: 1rem;
    align-items: center;

    .todo-content--completed {
      text-decoration: line-through;
      color: hsl(233, 14%, 35%);
    }
  }

  img {
    width: 50%;
    align-self: center;
  }

  .delete-todo--btn {
    width: 1.5rem;
    background: none;
    border: none;
  }
}